@import "tailwindcss";

@theme {  
  --color-sportsee-red: #F4320B;
  --color-sportsee-blue: #0B23F4;
  --color-sportsee-black: #111111;
}

html,
body {
  background-color: #F2F3FF;
  color: #111111;
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
